[buildout]
parts = python fabric demo django-for-test test sphinx
develop = .
versions = django-crunchyfrog-versions
download-cache = dlcache

[django-crunchyfrog-versions]
pbp.recipe.noserunner = 0.2.6
BeautifulSoup = 3.1.0.1

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = django-crunchyfrog

[fabric]
recipe = zc.recipe.egg:scripts
eggs = fabric

[demo]
recipe = djangorecipe
version = 1.1.1
control-script = demo
settings = settings
eggs = django-crunchyfrog
project = demo
wsgi = false
extra-paths = ${buildout:directory}/demo

[django-for-test]
recipe = hexagonit.recipe.download
strip-top-level-dir = true
url = http://media.djangoproject.com/releases/1.1.1/Django-1.1.1.tar.gz

[test]
recipe = pbp.recipe.noserunner 
eggs = django-crunchyfrog
       py
       coverage
       BeautifulSoup
working-directory = .
extra-paths =
    ${buildout:parts-directory}/django-for-test
    ${buildout:directory}/crunchyfrog/tests
environment = django-environment

[django-environment]
DJANGO_SETTINGS_MODULE=settings

[sphinx]
recipe = zc.recipe.egg
eggs = Sphinx

