[buildout]
parts = python fabric tests demo
develop = .
versions = django-skylark-versions
download-cache = dlcache

[django-skylark-versions]
pbp.recipe.noserunner = 0.2.6
BeautifulSoup = 3.1.0.1
django = 1.2.1

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = django-skylark

[fabric]
recipe = zc.recipe.egg:scripts
eggs =
    fabric
    Sphinx

[test-environment]
DJANGO_SETTINGS_MODULE = skylark.tests.settings

[tests]
recipe = pbp.recipe.noserunner 
environment = test-environment
eggs =
    django
    django-skylark
    py
    coverage
    BeautifulSoup
script = test
working-directory = src
extra-paths =
    ${buildout:directory}/src/skylark/tests
defaults =
    --verbosity=1
    --nocapture
    --nologcapture
    --with-coverage
    --cover-package=skylark

[demo]
recipe = djangorecipe
version = 1.2.1
settings = settings
projectegg = demo
eggs =
    django-skylark
extra-paths =
    ${buildout:directory}/demo
