{% if prepared_instructions.js and prepared_instructions.render_full_page %}
    {% for js in prepared_instructions.js %}
        {% if js.ieversion %}
        <!--[if {{ js.ieversion }}]>
        {% endif %}
        {% if js.location %}
            <script type="text/javascript" src="{{ js.location }}"></script>
        {% else %}
            <script type="text/javascript">
            //<![CDATA[
            {{ js.source }}
            //]]>
            </script>
        {% endif %}
        {% if js.ieversion %}
        <![endif]-->
        {% endif %}
    {% endfor %}
{% endif %}
{% if prepared_instructions.ribt %}
    <!-- Dojo Toolkit dynamic loading output -->
    <script type="text/javascript">
    //<![CDATA[
    {% for ribt in prepared_instructions.ribt %}
    dojo.registerModulePath('{{ ribt.namespace }}', '{{ cache_url }}{{ prepared_instructions.cache_prefix }}{{ ribt.location }}');
        {% for requirement in ribt.require %}
            dojo.require('{{ requirement }}');
        {% endfor %}
    {% endfor %}
    {% if is_instrumented %}
        dojo.addOnLoad(function() {
            if (RibtTools.TestRunner.TestCaseCollector) {
                var collector = RibtTools.TestRunner.TestCaseCollector;

                {% for ribt in prepared_instructions.ribt %}
                    {% for testcase in ribt.tests %}
                        collector.add('{{ testcase }}');
                    {% endfor %}
                {% endfor %}

                dojo.addOnLoad(function() { collector.kickoff(); });
            }
        });
    {% endif %}
    //]]>
    </script>
{% endif %}
